<div
  style="
    padding: 30px 0;
    text-align: start;
    font-family: Arial;
    color: #fff;
  "
>
  <p>Dear Mr Jonathan,<br><br>
    Please Find attached my weekly report thanks to nodemailer and EJS.<br><br><br>
    With Kind Regards,<br>
    Joan Kabura<br>
  </p>
</div>